<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">
                Student
            </h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">
                    Show All Students
                </li>
            </ol>
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fas fa-graduation-cap me-1"></i>
                        Students
                    </div>
                    <form class="form-inline">
                        <div class="input-group">
                            <input class="form-control" type="text" [(ngModel)]="searchValue" name="searchValue"
                                placeholder="Search for..." />
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0" id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                        (click)="sortTable('cin')">
                                        Cin
                                        <span class="sort-indicator" *ngIf="sortTableService.sortKey === 'cin'">
                                            {{ sortTableService.reverse ? '▼' : '▲' }}
                                        </span>
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                                        (click)="sortTable('nom')">
                                        Last Name
                                        <span class="sort-indicator" *ngIf="sortTableService.sortKey === 'nom'">
                                            {{ sortTableService.reverse ? '▼' : '▲' }}
                                        </span>
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                        (click)="sortTable('prenom')">
                                        First Name
                                        <span class="sort-indicator" *ngIf="sortTableService.sortKey === 'prenom'">
                                            {{ sortTableService.reverse ? '▼' : '▲' }}
                                        </span>
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                                        (click)="sortTable('email')">
                                        Email
                                        <span class="sort-indicator" *ngIf="sortTableService.sortKey === 'email'">
                                            {{ sortTableService.reverse ? '▼' : '▲' }}
                                        </span>
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                                        (click)="sortTable('tel')">
                                        Phone
                                        <span class="sort-indicator" *ngIf="sortTableService.sortKey === 'tel'">
                                            {{ sortTableService.reverse ? '▼' : '▲' }}
                                        </span>
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                                        (click)="sortTable('codeG.libelle')">
                                        Group
                                        <span class="sort-indicator"
                                            *ngIf="sortTableService.sortKey === 'codeG.libelle'">
                                            {{ sortTableService.reverse ? '▼' : '▲' }}
                                        </span>
                                    </th>
                                    <th colspan="2"
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let student of getPaginatedData()">
                                    <tr *ngIf="this.sortTableService.isStudentMatch(student, searchValue)"
                                        [id]="student._id">
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <p class="text-xs text-secondary mb-0">
                                                    {{ student.cin }}
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <p class="text-xs text-secondary mb-0">
                                                    {{ student.nom }}
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <p class="text-xs text-secondary mb-0">
                                                    {{ student.prenom}}
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <p class="text-xs text-secondary mb-0">
                                                    {{ student.email }}
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <p class="text-xs text-secondary mb-0">
                                                    {{ student.tel }}
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <p class="text-xs text-secondary mb-0">
                                                    {{ student.codeG.libelle}}
                                                </p>
                                            </div>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <button class="btn btn-block btn-danger waves-effect"
                                                (click)="dangerBox(student._id)">
                                                Delete
                                            </button>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <button class="btn btn-block btn-success waves-effect"
                                                (click)="update(student._id)">
                                                Edit
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <tfoot>
                                <td colspan="8">
                                    <div class="pagination" *ngIf="getPageNumbers().length > 1">
                                        <button *ngFor="let page of getPageNumbers()" (click)="onPageChange(page)">
                                            {{ page }}
                                        </button>
                                    </div>
                                </td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="layoutAuthentication_footer">
        <app-footer></app-footer>
    </div>
</div>