<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Affectation</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Créer une affectation</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <svg id="affectationIcon" xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
                            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2" />
                            <path d="m9 14 2 2 4-4" />
                        </svg>
                        &nbsp;Affectation
                    </div>
                </div>
                <div class="card-body justify-content-center">
                    <form class="form-inline" [formGroup]="createAssForm" autocomplete="off">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputCin">Cin :</label>
                            <input (input)="onInputChange($event)" [(ngModel)]="data.cin" formControlName="cin" class="form-control" list="inputCins" name="inputCin" id="inputCin" placeholder="Cin...">
                            <datalist id="inputCins">
                                <option *ngFor="let student of students" [value]="student.cin">
                            </datalist>
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="Cin.invalid && (Cin.touched || Cin.dirty)">
                            <div *ngIf="Cin.hasError('required')">CIN est obligatoire.</div>
                            <div *ngIf="Cin.hasError('pattern')">Le format est invalide. CIN n'accepte que 8 chiffres.</div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="codeInput">Code de stage :</label>
                            <select [(ngModel)]="data.codeS" formControlName="codeS" name="codeS"
                                class="form-select cur-point" aria-label="Default select example">
                                <option [ngValue]="'default'" selected>Sélectionnez un code de stage</option>
                                <option *ngFor="let stage of stages" [value]="stage._id">{{ stage.codeS }}</option>
                            </select>
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="CodeS.invalid && (CodeS.touched || CodeS.dirty)">
                            <div *ngIf="CodeS.hasError('required')">Le code de stage est obligatoire.</div>
                            <div *ngIf="CodeS.hasError('invalidCodeG')">Veuillez sélectionner un code de stage valide.</div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="codeInput">Lieu de stage :</label>
                            <input [(ngModel)]="data.lieuS" formControlName="lieuS" name="lieuS" class="form-control"
                                id="codeInput" type="text" placeholder="Lieu de stage..." />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="Location.invalid && (Location.touched || Location.dirty)">
                            <div *ngIf="Location.hasError('required')">Le lieu de stage est obligatoire.</div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="labelInput">Code de rapport :</label>
                            <input [(ngModel)]="data.codeRap" formControlName="codeRap" name="codeRap"
                                class="form-control" id="labelInput" type="text" placeholder="Code de rapport..." />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="CodeRap.invalid && (CodeRap.touched || CodeRap.dirty)">
                            <div *ngIf="CodeRap.hasError('required')">Le code de rapport est obligatoire.</div>
                            <div *ngIf="CodeRap.hasError('minlength')">Le code de département doit comporter au moins 3 caractères long.</div>
                            <div *ngIf="CodeRap.hasError('pattern')">Le code de rapport doit contenir uniquement des lettres et des chiffres.</div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="codeInput">Date de début :</label>
                            <input [(ngModel)]="data.dateD" formControlName="dateD" name="dateD"
                                class="form-control cur-text" id="codeInput" type="date" />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="DateD.invalid && (DateD.touched || DateD.dirty)">
                            <div *ngIf="DateD.hasError('required')">La date de début est obligatoire.</div>
                            <div *ngIf="DateD.hasError('startDateInvalid')">La date de début doit être aujourd'hui ou plus tard.</div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="labelInput">Date de fin :</label>
                            <input [(ngModel)]="data.dateF" formControlName="dateF" name="dateF"
                                class="form-control cur-text" id="labelInput" type="date" />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="DateF.invalid && (DateF.touched || DateF.dirty)">
                            <div *ngIf="DateF.hasError('required')">La date de fin est obligatoire.</div>
                            <div *ngIf="DateF.hasError('startDateInvalid')">La date de fin doit être aujourd'hui ou plus tard.</div>
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-success" [disabled]="createAssForm.invalid" (click)="create()">Créer une affectation</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <div id="layoutAuthentication_footer">
        <app-footer></app-footer>
    </div>
</div>