<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main id="login-form">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Login</h3>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="loginForm" autocomplete="off">
                                    <div class="form-floating mb-3">
                                        <input [(ngModel)]="data.email" formControlName="email" class="form-control"
                                            id="inputEmail" type="email" name="email" placeholder="name@example.com"
                                            required />
                                        <label for="inputEmail">Email address</label>
                                    </div>
                                    <div class="form-text text-danger alert-custom"
                                        *ngIf="Email.invalid && (Email.touched || Email.dirty)">
                                        <div *ngIf="Email.hasError('required')">Email is required.</div>
                                        <div *ngIf="Email.hasError('email')">Invalid email format.</div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input [(ngModel)]="data.password" formControlName="password"
                                            class="form-control" id="inputPassword" type="password" name="password"
                                            placeholder="Password" required />
                                        <label for="inputPassword">Password</label>
                                    </div>
                                    <div class="form-text text-danger alert-custom"
                                        *ngIf="Password.invalid && (Password.touched || Password.dirty)">
                                        <div *ngIf="Password.hasError('required')">Password is required.</div>
                                        <div *ngIf="Password.hasError('minlength')">Password should be at least 8
                                            characters long.</div>
                                    </div>
                                    <div class="form-check mb-3 ">
                                        <input class="form-check-input" id="inputRememberPassword" type="checkbox"
                                            value="" />
                                        <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                        
                                        <a class="forgotPassLink ml-auto" routerLink="/forgot-password">Forgot Password?</a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button class="btn btn-primary" [disabled]="loginForm.invalid"
                                            (click)="login()">Login</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"> &nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <app-footer></app-footer>
    </div>
</div>