<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Modérateur</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Ajouter un modérateur</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <svg id="moderatorIcon" xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10" />
                            <path d="M12 22V2" />
                        </svg>
                        &nbsp;Modérateur
                    </div>
                </div>
                <div class="card-body justify-content-center">
                    <form class="form-inline" [formGroup]="createModForm" autocomplete="off">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="usernameInput">Nom d'utilisateur :</label>
                            <input [(ngModel)]="data.username" formControlName="username" name="usernameInput"
                                class="form-control" id="usernameInput" type="text" placeholder="Nom d'utilisateur ..." />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="Username.invalid && (Username.touched || Username.dirty)">
                            <div *ngIf="Username.hasError('required')">Le nom d'utilisateur est obligatoire.</div>
                            <div *ngIf="Username.hasError('minlength')">Le nom d'utilisateur doit comporter au moins 3 caractères long.</div>
                            <div *ngIf="Username.hasError('pattern')">Le nom d'utilisateur ne doit contenir que des lettres et des chiffres.</div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="emailInput">Adresse e-mail :</label>
                            <input [(ngModel)]="data.email" formControlName="email" name="emailInput"
                                class="form-control" id="emailInput" type="email" placeholder="Adresse e-mail ..." />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="Email.invalid && (Email.touched || Email.dirty)">
                            <div *ngIf="Email.hasError('required')">Adresse e-mail est obligatoire.</div>
                            <div *ngIf="Email.hasError('email')">Adresse e-mail est invalide.</div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="passwordInput">Mot de passe :</label>
                            <input [(ngModel)]="data.password" formControlName="password" name="passwordInput"
                                class="form-control" id="passwordInput" type="password" placeholder="Mot de passe ..." />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="Password.invalid && (Password.touched || Password.dirty)">
                            <div *ngIf="Password.hasError('required')">Le mot de passe est obligatoire.</div>
                            <div *ngIf="Password.hasError('minlength')">Le mot de passe doit être d'au moins 8 caractères.</div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="passwordConfirmationInput">Confirmation du mot de passe
                                :</label>
                            <input [(ngModel)]="data.passwordConfirm" formControlName="passwordConfirm"
                                name="passwordConfirmationInput" class="form-control" id="passwordConfirmationInput"
                                type="password" placeholder="Confirmation du mot de passe ..." />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="PasswordConfirm.invalid && (PasswordConfirm.touched || PasswordConfirm.dirty)">
                            <div *ngIf="PasswordConfirm.hasError('required')">La confirmation du mot de passe est obligatoire.</div>
                            <div *ngIf="PasswordConfirm.hasError('minlength')">La confirmation du mot de passe doit être d'au moins 8 caractères.</div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="roleInput">Rôle :&nbsp;&nbsp;&nbsp;</label>
                            <select [(ngModel)]="data.role" formControlName="role" name="roleInput"
                                class="form-select cur-point" aria-label="Default select example">
                                <option [ngValue]="'default'" selected>Sélectionnez un rôle</option>
                                <option value="Moderator">Modérateur</option>
                            </select>
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="Role.invalid && (Role.touched || Role.dirty)">
                            <div *ngIf="Role.hasError('required')">Le rôle est obligatoire.</div>
                            <div *ngIf="Role.hasError('invalidRole')">Veuillez sélectionner un rôle valide.</div>
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-success" [disabled]="createModForm.invalid" (click)="create()">Ajouter un modérateur</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <div id="layoutAuthentication_footer">
        <app-footer></app-footer>
    </div>
</div>