<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <!-- Dashbord -->
                <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>

                <!-- Department -->
                <a class="nav-link collapsed cur-point" data-bs-toggle="collapse" data-bs-target="#collapseDepartment"
                    aria-expanded="false" aria-controls="collapseDepartment">
                    <div class="sb-nav-link-icon"><i class="fas fa-building-user"></i></div>
                    Department
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseDepartment" aria-labelledby="headingTwo"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested accordion">
                        <a *ngIf="auth.userRole === 'ADMIN'" class="nav-link collapsed" routerLink="/create/department" routerLinkActive="active">
                            Create
                        </a>
                        <a class="nav-link collapsed" routerLink="/departments" routerLinkActive="active">
                            Show All
                        </a>
                    </nav>
                </div>

                <!-- Group -->
                <a class="nav-link collapsed cur-point" data-bs-toggle="collapse" data-bs-target="#collapseGroup"
                    aria-expanded="false" aria-controls="collapseGroup">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Group
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseGroup" aria-labelledby="headingTwo"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested accordion">
                        <a *ngIf="auth.userRole === 'ADMIN'" class="nav-link collapsed" routerLink="/create/group" routerLinkActive="active">
                            Create
                        </a>
                        <a class="nav-link collapsed" routerLink="/groups" routerLinkActive="active">
                            Show All
                        </a>
                    </nav>
                </div>

                <!-- Student -->
                <a class="nav-link collapsed cur-point" data-bs-toggle="collapse" data-bs-target="#collapseStudent"
                    aria-expanded="false" aria-controls="collapseStudent">
                    <div class="sb-nav-link-icon"><i class="fas fa-graduation-cap"></i></div>
                    Student
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseStudent" aria-labelledby="headingTwo"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested accordion">
                        <a *ngIf="auth.userRole === 'ADMIN'" class="nav-link collapsed" routerLink="/create/student" routerLinkActive="active">
                            Create
                        </a>
                        <a *ngIf="auth.userRole === 'ADMIN'" class="nav-link collapsed" routerLink="/create/students/file" routerLinkActive="active">
                            Create by file
                        </a>
                        <a class="nav-link collapsed" routerLink="/students" routerLinkActive="active">
                            Show All
                        </a>
                    </nav>
                </div>

                <!-- Stage -->
                <a class="nav-link collapsed cur-point" data-bs-toggle="collapse" data-bs-target="#collapseStage"
                    aria-expanded="false" aria-controls="collapseStage">
                    <div class="sb-nav-link-icon"><i class="fas fa-school"></i></div>
                    Stage
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseStage" aria-labelledby="headingTwo"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested accordion">
                        <a *ngIf="auth.userRole === 'ADMIN'" class="nav-link collapsed" routerLink="/create/stage" routerLinkActive="active">
                            Create
                        </a>
                        <a class="nav-link collapsed" routerLink="/stages" routerLinkActive="active">
                            Show All
                        </a>
                    </nav>
                </div>

                <!-- Assignment -->
                <a class="nav-link collapsed cur-point" data-bs-toggle="collapse" data-bs-target="#collapseAssignment"
                    aria-expanded="false" aria-controls="collapseAssignment">
                    <div class="sb-nav-link-icon"><i class="fas fa-tasks"></i></div>
                    Assignment
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseAssignment" aria-labelledby="headingTwo"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested accordion">
                        <a class="nav-link collapsed" routerLink="/create/assignment" routerLinkActive="active">
                            Create
                        </a>
                        <a class="nav-link collapsed" routerLink="/assignments" routerLinkActive="active">
                            Show All
                        </a>
                    </nav>
                </div>

                <!-- Add Moderator -->
                <ng-container *ngIf="auth.userRole === 'ADMIN'">
                    <a class="nav-link collapsed cur-point" data-bs-toggle="collapse"
                        data-bs-target="#collapseModerator" aria-expanded="false" aria-controls="collapseModerator">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
                        Moderator
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseModerator" aria-labelledby="headingTwo"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested accordion">
                            <a class="nav-link collapsed" routerLink="/add-admin-and-mod" routerLinkActive="active">
                                Add Moderator
                            </a>
                            <a class="nav-link collapsed" routerLink="/admins-and-mods" routerLinkActive="active">
                                Show All
                            </a>
                        </nav>
                    </div>
                </ng-container>
            </div>
        </div>

        <!-- who is logged in -->
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{loggedIn}}
        </div>
    </nav>
</div>