<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Stage</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Update Stage</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fas fa-school me-1"></i>
                        Stage
                    </div>
                </div>
                <div class="card-body justify-content-center">
                    <form class="form-inline" [formGroup]="updateStgForm" autocomplete="off">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="codeInput">Code :</label>
                            <input [(ngModel)]="data.codeS" formControlName="code" name="codeS" class="form-control"
                                id="codeInput" type="text" placeholder="Stage Code..." />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="Code.invalid && (Code.touched || Code.dirty)">
                            <div *ngIf="Code.hasError('required')">Stage code is required.</div>
                            <div *ngIf="Code.hasError('minlength')">Stage code should be at least 3 characters long.
                            </div>
                            <div *ngIf="Code.hasError('pattern')">Stage code should only contain letters and numbers.
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="codeInput">Type :&nbsp;&nbsp;&nbsp;</label>
                            <select [(ngModel)]="data.type" formControlName="type" name="type"
                                class="form-select cur-point" aria-label="Default select example">
                                <option [ngValue]="'default'" selected>Select a type</option>
                                <option [ngValue]="'Stage d\'initiation'" selected>Introductory course</option>
                                <option [ngValue]="'Stage de perfectionnement'" selected>Course development</option>
                                <option [ngValue]="'Stage de fin d\'etude'" selected>End of study internship</option>
                            </select>
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="Type.invalid && (Type.touched || Type.dirty)">
                            <div *ngIf="Type.hasError('required')">Stage type is required.</div>
                            <div *ngIf="Type.hasError('invalidType')">Please select a valid type.</div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="labelInput">Duration :</label>
                            <input [(ngModel)]="data.duree" formControlName="duration" name="duree" class="form-control"
                                id="labelInput" type="number" placeholder="Stage Duration..." />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="Duration.invalid && (Duration.touched || Duration.dirty)">
                            <div *ngIf="Duration.hasError('required')">Duration is required.</div>
                            <div *ngIf="Duration.hasError('pattern')">Invalid stage duration format (should be a
                                positive number).</div>
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-success" [disabled]="updateStgForm.invalid" (click)="update()">Update
                                Stage</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <div id="layoutAuthentication_footer">
        <app-footer></app-footer>
    </div>
</div>