<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">
                Profil
            </h1>
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fas fa-user fa-fw me-1"></i>
                        Profil
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0" id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Id
                                    </th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Nom d'utilisateur
                                    </th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Adresse e-mail
                                    </th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Rôle
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <p class="text-xs text-secondary mb-0">
                                                {{ data.id }}
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <p class="text-xs text-secondary mb-0">
                                                {{ data.username }}
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <p class="text-xs text-secondary mb-0">
                                                {{ data.email }}
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <p class="text-xs text-secondary mb-0">
                                                {{ data.role }}
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="changePwd ms-auto mt-4">
                            <a (click)="update(data.id)">
                                Mettre à jour le profil
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="layoutAuthentication_footer">
        <app-footer></app-footer>
    </div>
</div>