<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Profil</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">
                    Mettre à jour le profil
                </li>
            </ol>
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <i class="fas fa-user fa-fw me-1"></i>
                        Profil
                    </div>
                </div>
                <div class="card-body justify-content-center">
                    <form class="form-inline" [formGroup]="updateProfileForm" autocomplete="off">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="usernameInput">Nom d'utilisateur :</label>
                            <input [(ngModel)]="data.username" formControlName="username" name="usernameInput"
                                class="form-control" id="usernameInput" type="text" placeholder="Nom d'utilisateur ..." />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="UsernameProfile.invalid && (UsernameProfile.touched || UsernameProfile.dirty)">
                            <div *ngIf="UsernameProfile.hasError('required')">Le nom d'utilisateur est obligatoire.</div>
                            <div *ngIf="UsernameProfile.hasError('minlength')">Le nom d'utilisateur doit comporter au moins 3 caractères long.</div>
                            <div *ngIf="UsernameProfile.hasError('pattern')">Le nom d'utilisateur ne doit contenir que des lettres et des chiffres.</div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="emaillInput">Adresse e-mail :</label>
                            <input [(ngModel)]="data.email" formControlName="email" name="email" class="form-control"
                                id="emaillInput" type="email" placeholder="Adresse e-mail ..." />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="EmailProfile.invalid && (EmailProfile.touched || EmailProfile.dirty)">
                            <div *ngIf="EmailProfile.hasError('required')">Adresse e-mail est obligatoire.</div>
                            <div *ngIf="EmailProfile.hasError('email')">Adresse e-mail est invalide.</div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputPassword">Mot de passe actuel :</label>
                            <input [(ngModel)]="data.password" formControlName="password" name="inputPassword"
                                class="form-control" id="inputPassword" type="password"
                                placeholder="Mot de passe actuel ..." />
                        </div>
                        <div class="form-text text-danger alert-custom"
                            *ngIf="PasswordProfile.invalid && (PasswordProfile.touched || PasswordProfile.dirty)">
                            <div *ngIf="PasswordProfile.hasError('required')">Le mot de passe actuel est obligatoire.</div>
                            <div *ngIf="PasswordProfile.hasError('minlength')">Le mot de passe doit être d'au moins 8 caractères.</div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="input-group mb-3">
                                <button class="btn btn-success" type="button" [disabled]="updateProfileForm.invalid"
                                    (click)="update()">
                                    Mettre à jour le profil
                                </button>
                            </div>
                            <div class="changePwd ms-auto">
                                <a (click)="changePwd(data.id)">
                                    Changer le mot de passe
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <div id="layoutAuthentication_footer">
        <app-footer></app-footer>
    </div>
</div>